header {
    background-color: #a3d999;
    padding: 1%;
    display: flex;
    justify-content: center;
    
    h1{
        font-weight: bold;
        font-size: 2.5em;
        font-family:'Lucida Sans', sans-serif
    }
}